.image-container {
    position: relative;
    display: inline-block;
}
  
.image-container img {
    display: block;
    width: 250px;
    height: 250px;
}
  
.description {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000b3; /* Semi-transparent background */
    color: white;
    padding: 5px;
    font-size: 12px;
    width: 250px;
    text-align: center;
}
  
.image-container:hover .description {
    display: block;
}
  